body {
  background-color: black;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

header {
  font-size: 1em;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  background-color: rgb(200, 200, 200);
  margin: 0 auto;
  border-radius: 40px;
  width: 55%;
  max-width: 100px;
  padding: 10px;
  padding-top: 10px;
}


.demographics {
  display: inline-block;
  text-align:left;
  width: 40%;
  padding: 20px;
  vertical-align: top;
  margin-top: 10px;
  
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}


